/* sale de acá: https://erikflowers.github.io/weather-icons/ */
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

 body {
  color: #333333;
  max-width: 650px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 36px;
}

.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 400px;
  width: 800px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.weather-location{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 2rem;
}

.widget .weatherIcon {
  flex: 1 100%;
  height: 40%;
  margin-bottom: 13%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
}

.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #52c8b9;
  border-bottom-left-radius: 20px; 
   display: flex;
  align-items: center;
  color: white;
} 
 .widget .weatherInfo .temperature {
  flex: 0 0 100%;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: space-around;
}
.description {
  position: absolute;
  width: 100%;
  margin-top: 29%;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-size: 36px;
} 

.widget .date {
  flex: 0 0 30%;
  height: 40%;
  background: rgb(68, 112, 207);
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 800;
} 
 
p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
p a {
  text-decoration: none;
  color: #E4D6A7;
  font-size: 10px;
} 